# Configuracoes da ProfitDLL - Nelogica
# Preencha com seus dados de conta Nelogica

PROFITDLL_PATH=C:\Users\Paulo Roberto\Downloads\ProfitDLL\Win64\ProfitDLL.dll
PROFIT_ACTIVATION_KEY=sua_chave_de_ativacao
PROFIT_USER=seu_usuario_nelogica
PROFIT_PASSWORD=sua_senha_login
